[Unit]
Description=Bluetooth monitor

[Service]
Type=simple
#StandardOutput=null
WorkingDirectory=/home/audioclient/bluetooth-monitor

ExecStart=/usr/bin/python3 main.py --config /home/audioclient/bluetooth-monitor/config.yaml

[Install]
WantedBy=default.target
